
.custom-button {
  padding: 8px 80px;
  border: none;
  cursor: pointer;
  border-radius: 34px;
  background-color: #204496;
  color: #FFF;
}

.custom-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.custom-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.custom-button:hover span {
  padding-right: 25px;
}

.custom-button:hover span:after {
  opacity: 1;
  right: 0;
}
