.cybercard360-height{
    .ant-card-body {
      height: 60px;
      gap: 30px !important;
      margin-top: 20px;
      display: flex;
      padding: 10px 13.7px 10px 14px;
      justify-content: center;
      align-items: center;
    }
  }
  
  .small-card-text{
    margin-top: 10px;
    margin-left: -30px;
    display: flex;
    font-size: 12px;
    color: #204496;
    font-weight: 700;
  
  }
  
  .background-text{
    color: #204496 ;
    font-weight: 600 ;
    font-size: medium ;
    position: absolute;
    margin-left: 73px;
    margin-top: -35px;
  }

#heatmap_Container_TextGroup{
  visibility: hidden !important;
}
 #heatmap_HeatMapRect_0, #heatmap_HeatMapRect_1, #heatmap_HeatMapRect_2,
 #heatmap_HeatMapRect_3, #heatmap_HeatMapRect_4, #heatmap_HeatMapRect_5,
 #heatmap_HeatMapRect_6, #heatmap_HeatMapRect_7, #heatmap_HeatMapRect_8,
 #heatmap_HeatMapRect_9, #heatmap_HeatMapRect_10, #heatmap_HeatMapRect_11,
 #heatmap_HeatMapRect_12, #heatmap_HeatMapRect_13, #heatmap_HeatMapRect_14
 {
  stroke: white;
  strokeWidth: 15px;
 }

