.tabs{
    width: max-content;
    cursor: pointer;
}

.main-content-tabs .active{
    background-color: #204496;
}

.main-content-tabs .active .content-text {
    color: white;
}  

.card-header{
    font-size: 28px;
    color: #1E4397;
    font-weight: 700;
}

.date-height{
    height: 40px;
}
.text-primary-blue{
    color: #1E4397;

}

.ant-radio-button{
    background-color: #1E4397;
    color: white;
    border-radius: inherit;
}
.ant-radio-button-wrapper-checked {
    border-color: #1E4397 !important;
    color: white !important;

}
.ant-radio-button-wrapper {
    background-color: #EBEEF4;
}

.ant-radio-button-wrapper :hover{
    color: #1E4397 !important;
}

.ant-radio-button-wrapper-checked :hover{
    border-color: #1E4397 !important;
    color: white !important;

}

/* table */
.ant-table-wrapper .ant-table-thead >tr>th{
    background: none !important;
    color: rgba(123, 122, 140, 1) !important;
}

/* user Analysis */
.user-card{
    height: 124px;
    width: 100%;
}

/* spacing */
.over-spacing{
    margin-right: 5px !important;
    gap: 20px;
    flex-flow: nowrap;
}

.right-spacing{
    margin-right: 25px !important;

}
/* virtual list */
.rc-virtual-list-holder-inner{
    right: 20px !important;
}

.ant-statistic-content-prefix span{
    display: flex !important;
    align-items: center !important;
}


.heading {
    position: relative;
    cursor: pointer;
  }
  
  .heading::before {
    content: "";
    position: absolute;
    bottom: -3px; /* Adjust this value to control the distance of the underline from text */
    left: 0;
    right: 100%;
    background-color: #204496; /* Adjust the color to your preference */
    height: 2px; /* Adjust the height of the underline */
    transition: right 0.3s ease; /* Transition the right property for the sliding effect */
  }
  
  .heading:hover::before {
    right: 0;
  }

  .ant-drawer-header{
    border-bottom: 2px solid #4065bad6 !important;
  }

  .ai{
    .ant-list-item{
        display: flex !important;
        gap: 15px;
        justify-content: flex-start !important;
    }
  }
  .data-card{
    width: 150px;
  }

.ant-drawer-body{
    padding: 0px !important;
}

/* .ant-drawer-body{
    margin-bottom: 60px;
} */